<a href="https://colab.research.google.com/github/paolaim/mineria-datos/blob/gh-pages/Avance_PIA_equipo07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Equipo: 7

## Grupo: 003 - Lunes 6:00 pm - 9:00 pm

## Integrantes:

- 1744128, Blanco Gonzalez, Reyna Yarelli
- 1723446, Garza Alvarez, Aaron Emmanuel
- 1731502, Ibarra Medrano, Paola
- 1799361, Lucas Belmar, Marissa Aleida

# - Primera base de datos

## 1) Título de la base de datos

a) Nombre con el que se encuentra en la pagina encontrada:
- World Happiness Report up to 2020

b) Url de la página 
- https://www.kaggle.com/mathurinache/world-happiness-report

## 2) Descripción de datos

a)Qué tipo de datos son (tablas, imágenes, encuestas, etc.)
- La información presentada en la base de datos de 153 paises, fue facilitada gracias a la encuesta "The Gallup World Survey" que utiliza "The Cantril Ladder". El puntaje de felicidad esta conformado por distintos facotres como lo son; PIB per cápita, salud, familia, economía, libertad, generosidad, percepción de corrupción y un error residual. 

b)Descripción de las columnas- (Que datos se describen en cada columna. Mediciones, tiempo, texto largo, etc.)
- Country: Para saber que paises estamos comparando  
- Happiness Rank: Sirve para comparar en que posición esta cada país y con las otras columnas, ver el por que de su posición.
- Happiness Score: Para ver lo que varía entre cada pais su puntuación de felicidad
- Economy (GDP per Capita): para ver si su economia hace a un país más o menos feliz
- Trust (Government Corruption): Puede ser un factor importante en cuanto a que la gente sea feliz, por sus tipos de toma de desiciones o en cuanto a la confianza que le tienen a su propio gobierno.
- Dystopia Residual: Por la situacion en lo que se encuentra cada pais, puede que se aorille a una realidad de desgracias o no, y el como se puede ver si pais en un futuro puede afectar en su felicidad.

## 3) Justificación del uso de datos

a) Cuáles fueron las características que les llamó la atención de los datos. Qué les hizo querer trabajar con ellos.
- Se descartaron los datos que nos parecieron menos reelevantes que pueden hacer a una persona feliz, basandonos en tomas de decisiones importantes de la vida laboral de una persona, su futuro, etc.

b) Qué beneficio encuentran de trabajar con estos datos.
- Analizar los factores dados y mostrados que influyen en la felicidad de las personas en cada país, además de darnos cuenta a que factor le dan más importancia en su vida para considerarse feliz en su país, aunque en cada lugar este puede variar, exite un rango en el que le dan más "peso" a ciertas áreas.

## 4) Objetivo Final

a) Explicar a detalle cual es el objetivo principal (y secundarios en caso de existir) para trabajar con este tipo de datos.
- Objetivo Principal: Identificar el país con el primer puesto y sus estadísticas con las encuestas de las bases de datos y comparar a México como nuestro país, EUA un país importante para todos y un país vecino y latino, para observar que diferencia hay entre el número uno y los demas paises

## 5) Mencionar preguntas de interés

a) Se plantearan al menos dos preguntas de interés que se resolverán al finalizar el proyecto.

b) Nota: En este caso, las preguntas plateadas en esta sección TIENEN que ser resueltas al finalizar el proyecto. Con esto en cuenta, sean sensatos con el alcance de sus preguntas.

## 6) Parte de programación

In [1]:
import pandas as pd 
import numpy as np

In [3]:
h = pd.read_csv ('/content/2015_2019_2020_limpia.csv')

In [4]:
h.shape

(4, 18)

In [5]:
h.head(153)

         Country  ...  Perceptions of corruption.1
0    Switzerland  ...                     0.195445
1         Mexico  ...                     0.699715
2  United States  ...                     0.806822
3      Guatemala  ...                     0.783237

[4 rows x 18 columns]

**Explicación:**

La base de datos nos puede ayudar mucho en cuestiones laborales, como los factores que los afectan para la toma de decisiones, y decidimos quedarnos con las columnas de los datos más relevantes de las razones por las cuales influyen en que una persona es feliz, y en conjunto, una sociedad. Y en cuanto a las filas, solo decidimos quedarnos con los paises más importantes, en este caso, el que se posicionaba en el número 1 al inicio de la encuesta de la base de datos y quien ahora esté en el número 1 en los años 2019 a 2020; México como nuestro país, viendo los factores que lo afectan; EUA como un país importante en todo el mundo y vecino nuestro, y otro país de America latina y vecino, como Guatemala.

# - Segunda base de datos

## 1) Título de la base de datos

a) Nombre con el que se encuentra en la pagina encontrada:
- Temperature change

b) Url de la página 
- https://www.kaggle.com/sevgisarac/temperature-change

## 2) Descripción de los datos

a) Qué tipo de datos son (tablas, imágenes, encuestas, etc.)
-Gracias a "The FAOSTAT" la base de datos nos muestra con actualizaciones anuales, las estadisticas sobre la media del cambio de temperatura en cada país. Esta posee los datos desde el año de 1961 hasta el 2019, de forma mensual, estacional y anual, utilizando de base el periodo de 1951 a 1980

b) Descripción de las columnas- (Que datos se describen en cada columna. Mediciones, tiempo, texto largo, etc.)
- Area Code: Entero, numero único asignado para cada región de la cual se tengan datos.
- Area: Texto, nombre en inglés de cada región.
- Months Code: Entero, número único asignado para cada mes, grupo o año.
- Months: Texto, nombre en inglés de los meses, grupo de meses y año meteorológico.
- Element Code: Entero, 7271 número asignado al cambio de temperatura o 6078 desviación estandar en su correspondiente tiempo.
- Element: Texto, cambio de temperatura o desviación estandar en el mes, grupo o año.
- Unit: Texto, tipo de grados en el que se midio la temperatura a nivel mundial.
- Y1961...Y2019: Flotante, valor total del cambio de temperatura o desviación estandar de manera anual comparado con la base de 1951 a 1980

## 3) Justificación del uso de datos

a) Cuáles fueron las características que les llamó la atención de los datos. Qué les hizo querer trabajar con ellos.
- La base de datos original es muy fácil de utilizar ya que nos proporciona códigos de los cuales podemos utilizar para buscar datos en un ambiente de programación, además de tener muy en claro las divisiones de tiempo y sus datos especificos, la mayoría de datos no incluye la desviación estandar, lo cual es un dato muy beneficioso, además de que todos los datos estan expresados en un mismo tipo de temperatura (C°: Celsius), por lo cual no hay que recurrir a un cambio de estas.

b) Qué beneficio encuentran de trabajar con estos datos.
- El analizar datos del pasado para tener una estimación o predecir el futuro de estos es un trabajo muy importante para los actuarios y en conjunto con el tema del cambio de temperatura el cual es una problematica a nivel mundial muy importante, podemos poner en marcha una iniciativa, considerando todos los factores necesarios, para poder generar un cambio, analizando los datos en los años con menos cambios.

## 4) Objetivo Final

a) Explicar a detalle cual es el objetivo principal (y secundarios en caso de existir) para trabajar con este tipo de datos.

    Mucha gente sabe del cambio climatico que sufre nuestro planeta, más no hay una iniciativa fija para generar un cambio o detenerla en gran medida.

- Objetivo Principal: Identificar los años en los que el cambio climatico fue el menor posible en cada región y su repectivo tiempo, para revisar en el momento historico los factores que ayudaron e influyeron en este tiempo.

- Objetivo Secundario: Con los datos obtenidos y estadisticas a futuro, informar a la sociedad en general para poner en marcha un cambio con una meta fija en común, con apoyo de emperesas con responsabilidad ambiental y gente de altos cargos.

## 5) Mencionar preguntas de interés

a) Se plantearan al menos dos preguntas de interés que se resolverán al finalizar el proyecto.
- ¿Qué importancia tienen éstas bases de datos en la vida laboral de todos?
- ¿Cómo nos benefician y/o afectan éstos datos?

b) Nota: En este caso, las preguntas plateadas en esta sección TIENEN que ser resueltas al finalizar el proyecto. Con esto en cuenta, sean sensatos con el alcance de sus preguntas.

## 6) Parte de programación

In [6]:
import pandas as pd 
import numpy as np

In [8]:
tc = pd.read_excel('/content/Cambio_de_Temperatura.xlsx')

In [9]:
tc.shape

(9656, 36)

In [10]:
tc.head(153)

     Area Code         Area  Months Code  ... 2015-2016  2017-2018   2019
0            2  Afghanistan         7001  ...    2.6795     1.5985  2.951
1            2  Afghanistan         7001  ...    1.9500     1.9500  1.950
2            2  Afghanistan         7002  ...    2.4750     1.1910  0.086
3            2  Afghanistan         7002  ...    2.5970     2.5970  2.597
4            2  Afghanistan         7003  ...    0.8995     2.6260  0.234
..         ...          ...          ...  ...       ...        ...    ...
148          6      Andorra         7007  ...    2.8670     2.5955  3.482
149          6      Andorra         7007  ...    1.0600     1.0600  1.060
150          6      Andorra         7008  ...    2.1605     2.9400  2.844
151          6      Andorra         7008  ...    1.0220     1.0220  1.022
152          6      Andorra         7009  ...    1.2590     1.3195  1.951

[153 rows x 36 columns]

**Explicación:**

En la temperatura se sacó un promedio de los datos entre 2 años para tener menos agrupaciones.

Se dejó el dato de la desviación estándar, porque nos ayuda a saber la dispersión que existe dentro de un conjunto de datos.

Decidimos utilizar esta base de datos, ya que de esta manera podremos informar a la población en general y/o empresas del cambio climátio que está sufriendo hoy en día nuestro planeta y así pensar en una idea para detener este acelerador.