<a href="https://colab.research.google.com/github/paolaim/mineria-datos/blob/gh-pages/Ej_Limpieza_Equipo7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  **EQUIPO 7:**

  1731502 PAOLA IBARRA MEDRANO 

  1799361 MARISSA ALEIDA LUCAS BELMAR

**world happines report up to 2020**

Fuente: https://www.kaggle.com/mathurinache/world-happiness-report?select=2020.csv
  
  **Temperature change**
  
  Fuente: *https*://www.kaggle.com/sevgisarac/temperature-change

 **DATOS SIN MANIPULACION**
 
  WORLD HAPINESS REPORT UP TO 2020

In [3]:
import pandas as pd 
import numpy as np

In [29]:

tb = pd.read_csv ('/content/2015_2019_2020.csv')

In [5]:
tb.shape

(158, 43)

In [6]:
tb.head(153)

          Country  ... Dystopia + residual
0     Switzerland  ...            2.762835
1         Iceland  ...            2.432741
2         Denmark  ...            2.350267
3          Norway  ...            2.460688
4          Canada  ...            2.168266
..            ...  ...                 ...
148          Chad  ...            2.860198
149        Guinea  ...            0.548445
150   Ivory Coast  ...            0.841031
151  Burkina Faso  ...            1.378751
152   Afghanistan  ...            1.507236

[153 rows x 43 columns]

In [7]:
tb.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'Unnamed: 12', 'Overall rank',
       'Country or region', 'Score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices',
       'Generosity.1', 'Perceptions of corruption', 'Unnamed: 22',
       'Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support.1',
       'Healthy life expectancy.1', 'Freedom to make life choices.1',
       'Generosity.2', 'Perceptions of corruption.1',
       'Ladder score in Dystopia', 'Explained by: Log GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [8]:

tb.dtypes

Country                                        object
Region                                         object
Happiness Rank                                  int64
Happiness Score                               float64
Standard Error                                float64
Economy (GDP per Capita)                      float64
Family                                        float64
Health (Life Expectancy)                      float64
Freedom                                       float64
Trust (Government Corruption)                 float64
Generosity                                    float64
Dystopia Residual                             float64
Unnamed: 12                                   float64
Overall rank                                  float64
Country or region                              object
Score                                         float64
GDP per capita                                float64
Social support                                float64
Healthy life expectancy                       float64
Freedom to make life choices                  float64
Generosity.1                                  float64
Perceptions of corruption                     float64
Unnamed: 22                                   float64
Country name                                   object
Regional indicator                             object
Ladder score                                  float64
Standard error of ladder score                float64
upperwhisker                                  float64
lowerwhisker                                  float64
Logged GDP per capita                         float64
Social support.1                              float64
Healthy life expectancy.1                     float64
Freedom to make life choices.1                float64
Generosity.2                                  float64
Perceptions of corruption.1                   float64
Ladder score in Dystopia                      float64
Explained by: Log GDP per capita              float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Dystopia + residual                           float64
dtype: object

**Explicación:**

La base de datos nos puede ayudar mucho en cuestiones laborales, como los factores que los afectan para la toma de decisiones, y decidimos quedarnos con las columnas de los datos  más relevantes de las razones por las cuales influyen en que una persona es feliz, y en conjunto, una sociedad.
Y en cuanto a las filas, solo decidimos quedarnos con los paises mas importantes, en este caso, el que se posicionaba en el número 1 al inicio de la encuenta de la base de datos y quien ahora esté en el número 1 en los años 2019 a 2020; México como nuestro pais, viendo los factores que lo afectan, EUA como un pais importante en todo el mundo y vecino nuestro, y otro pais de americalatina, vecino, como Guatemala.

In [10]:
tb1 = pd.read_csv ('/content/2015_2019_2020_limpia.csv')

In [12]:
tb1.shape

(4, 18)

In [13]:
tb1.head(153)

         Country  ...  Perceptions of corruption.1
0    Switzerland  ...                     0.195445
1         Mexico  ...                     0.699715
2  United States  ...                     0.806822
3      Guatemala  ...                     0.783237

[4 rows x 18 columns]

In [14]:
tb1.corr()

                               Happiness Rank  ...  Perceptions of corruption.1
Happiness Rank                       1.000000  ...                     0.682570
Happiness Score                     -0.999227  ...                    -0.661368
Economy (GDP per Capita)            -0.863832  ...                    -0.495396
Trust (Government Corruption)       -0.846387  ...                    -0.965860
Dystopia Residual                    0.035920  ...                     0.269170
Unnamed: 6                                NaN  ...                          NaN
Overall rank                         0.813711  ...                     0.980068
Score                               -0.806214  ...                    -0.978969
GDP per capita                      -0.850123  ...                    -0.528621
Perceptions of corruption           -0.697767  ...                    -0.999777
Unnamed: 12                               NaN  ...                          NaN
Overall rank.1                       0.843821  ...                     0.963299
Score.1                             -0.777832  ...                    -0.973032
Logged GDP per capita               -0.854569  ...                    -0.528331
Perceptions of corruption.1          0.682570  ...                     1.000000

[15 rows x 15 columns]