<a href="https://colab.research.google.com/github/paolaim/mineria-datos/blob/gh-pages/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

Programa 2: Matemáticas sencillas

In [1]:
#EJERCICIO_1
str_mat= '1731502 '
str_nom= 'Paola Ibarra Medrano ' 
str_mat + str_nom

'1731502 Paola Ibarra Medrano '


Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [3]:
#EJERCICIO_2
a= int(input("introduce un número: "))
b= int(input("introduce otro número: "))
s= a+b
r= a-b
m= a*b 
d= a/b
e= a**b
print("suma= %d, resta= %d, multiplicacion= %d, division= %d, exponente= %d" %(s, r, m, d, e))

introduce un número: 10
introduce otro número: 5
suma= 15, resta= 5, multiplicacion= 50, division= 2, exponente= 100000


Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [11]:
#EJERCICIO_3
aux = 0
for i in range(1,31):
    s = i%3
    if s==0:
        print(i)
        aux = i + aux

print("La suma de los múltiplos de 3 es: %d" %(aux))

3
6
9
12
15
18
21
24
27
30
La suma de los múltiplos de 3 es: 165

Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.
Uso de funciones en python:

In [13]:
#EJERCICIO_4
a = int(input("Ingresa un número: "))
b = a%2
if b==0:
    print("El número %d es par" %(a))
else:
    print("El número %d es impar" %(a))
def primo(a):
    for x in range(2, a):
        if a % x == 0:
            print("El número %d no es primo"%(a))
            return False
    print("El número %d es primo"%(a))
    return True
primo(a)

Ingresa un número: 9
El número 9 es impar
El número 9 no es primo

False

Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

Funciones matemáticas en la librería de math en python:

In [16]:
#EJERCICIO_5
def calcu1(a,b): #usando diccionario
    suma=a+b
    resta=a-b
    multi=a*b
    div=a/b
    e=a**b
    return {"Suma":suma,"Resta":resta,"Multiplicación":multi,"División":div,"Exponente":e}
calcu1(3,2)
import pandas as pd
def calcu2(a,b): #usando dataframe
    suma=a+b
    resta=a-b
    multi=a*b
    div=a/b
    e=a**b
    return pd.DataFrame([suma,resta,multi,div,e],index=["Suma","Resta","Multiplicación","División","Exponente"],columns=["Resultados"])
calcu2(3,1)

                Resultados
Suma                   4.0
Resta                  2.0
Multiplicación         3.0
División               3.0
Exponente              3.0

Tuplas
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

Añadir 3 valores de string a la tupla.

Verificar si una variable existe dentro de la tupla.

In [18]:
a = float(35.41)
b = int(47)
c = bool(1>10)
d = complex(4)
print("a es tipo:", type(a))
print("b es tipo:", type(b))
print("c es tipo:", type(c))
print("d es tipo:", type(d))


enteros = (40,21,45,36,87)
print(enteros[0], enteros[4])
enteros = (40, 'Hola', 21, 45, 'Que', 36, 87, 'Haces')
print('Hola' in enteros)

a es tipo: <class 'float'>
b es tipo: <class 'int'>
c es tipo: <class 'bool'>
d es tipo: <class 'complex'>
40 87
True

Listas
Crear una lista con 40 elementos aleatorios enteros.
Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.
Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.
Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.
Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [19]:
import random as r
lista = range(1,100)
a = (r.sample(lista,40))
print(a)
def impar(a):
    lis=[]
    for x in range(len(a)):
        if a[x]%2:
            lis.append(a[x])
    return lis

def par(a):
    li=[]
    for x in range(len(a)):
        b= a[x]%2
        if b==0:
            li.append(a[x])
    return li

listaimp= impar(a)
listapar= par(a)
listaimp.sort()
listapar.sort(reverse=True)
print(listaimp)
print(listapar)

[91, 86, 29, 2, 43, 16, 93, 46, 66, 69, 82, 52, 26, 96, 24, 25, 34, 81, 42, 57, 74, 38, 7, 62, 61, 98, 97, 13, 15, 78, 39, 21, 20, 1, 48, 33, 28, 37, 14, 56]
[1, 7, 13, 15, 21, 25, 29, 33, 37, 39, 43, 57, 61, 69, 81, 91, 93, 97]
[98, 96, 86, 82, 78, 74, 66, 62, 56, 52, 48, 46, 42, 38, 34, 28, 26, 24, 20, 16, 14, 2]

Diccionarios
Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
Usando el diccionario y un loop, imprimir solo los nombres.
Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [20]:
diccionario = {'Nombre': ['luis ','esther','julia','belen','paola','elena','daniel','oscar'], 'Edad':[62,61,27,24,21,49,24,25]}
lista = diccionario['Edad']
lista.sort()
print(lista)
for x in range(len(diccionario['Nombre'])):
    print(diccionario['Nombre'][x])

[21, 24, 24, 25, 27, 49, 61, 62]
luis
esther
julia
belen
paola
elena
daniel
oscar

Sets
Crea un set con 100 numeros aleatorios enteros del 1 al 25.
Comprueba la longitud de tu set.
Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [21]:
import random as r
s1 = set()
i=0
while i < 100:
    s1.add(r.randint(1,25))
    i = i+1
print(s1)
len(s1)
print("La longitud del set es de %d"%(len(s1)))

b = range(1,11)
lista = (r.sample(b,5))
print(lista)

for x in range(len(lista)):
    print(x+1 in s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
La longitud del set es de 25
[1, 4, 10, 8, 2]
True
True
True
True
True